<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension id="product" point="org.eclipse.core.runtime.products">
	<product name="Code editor" application="org.eclipse.fx.ui.workbench.fx.application" >
		<property name="appName" value="Code editor" />
		
		<property name="applicationXMI" value="at.bestsolution.sample.code.app/Application.e4xmi" />
		
		<property name="cssTheme" value="theme.default" />
		
	</product>
	
</extension>
</plugin>
